* {
	margin: 0px 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
}
body,
html {
	width: 100%;
	height: 100%;
	font-family: 'Bellota', cursive;
	background: url(header.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}
a{
	text-decoration: none;
	color: #000;
}
a:hover{
	text-decoration: none;
	color: #000;
}
h1, h3{
	font-size: 4vh;
	color: #672708;
	font-weight: 800;
	margin-bottom: 0px; 
}
header{
	margin-top: 20px;
}
p{
	font-size: 2.5vh;
	font-weight: bold;
}
hr{
	border-color: #67270894;
	border-width: 3px;
	max-width: 75px;
}
i{
	font-size: 3vh;
}
.section{
	margin-left: 0px;
	margin-right: 0px; 
	padding: 12vh 9vw;
	width: 100%;
	justify-content: space-around;
}
.last-section{
	padding-bottom: 0px;
}
.black-bg{
	background-color: rgba(0,0,0, 0.6);
	color: #fff;
}
.white-bg{
	background-color: #fff;
}
.info{
	margin-top: 80px;
}
.heading-info {
	text-align: left;
	padding-left: 50px;
}
.paragraph{
	text-align: left;
	padding-left: 4vw;
	line-height: 1.5em;
	font-size: 1.5vw;
	border-left: 3px solid;
}
.no-border{
	border: none;
}
.logo{
	height: 9vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
.social-icons{
	margin: 20px 0px 20px 0px;
	position: relative;
	top: 0;
	right: 0;
}
.social-icons div{
	margin: 20px 10px 20px 10px;
	text-align: center;
}
.social-icons i{
	font-size: 2vw;
}
.social-icons a{
	opacity: 0.6;
}
.social-icons a:hover{
	opacity: 1;
}

.buffer{
	height: 23px;
}
.btn-xl{
	padding: 0.9rem 2rem;
	border-radius: 20px;
}
.btn {
	font-weight: 700;
	background-color: #67270894;
	border: none;
	margin-top: 20px;
}
.btn:hover{
	background-color: #672708ba;
	padding: 0.9rem 2.2rem;
}
.btn:focus, .btn-primary:focus{
	background-color: #672708ba !important;
	box-shadow: none !important;
}
.btn:active, .btn-primary:active{
	background-color: #672708ba !important;
	border: none !important;
	transform: scale(0.98);
}
.btn::after{
	content: '';
	width: 65px;
	background-color: #67270894;
	height: 3px;
	display: block;
	position: relative;
	bottom: -35px;
	margin: 0px auto;
	transition: all 1s ease-out;
}
.btn:hover::after{
	transform: scaleX(2);
}
.img-container img{
	width: 100%;
	margin: 0vh 9vw 0vh 0vw;
}
.logo-secondary{
	text-align: center;
}
.logo-secondary img{
	transform: scale(0.7);
	width: 20vw;
}
.logo-secondary h3{
	font-size: 2vw;
}
.info-section-2nd-end{
	border-color: #000;
}